.navbar-bg{
    background-color: var(--ncp-secondary);
}

.My-btn{
    color: white;
    background-color: var(--ncp-highlight);
    font-size: 12px;

    &:hover {
        background-color:var(--ncp-highlight);
        color: white;
    }
    
    &:active {
        background-color: var(--ncp-highlight) !important;
        color: white !important; 
        filter: brightness(85%);
    }
}

.dropdown-item:hover {
    background-color: (var(--ncp-secondary)); 
    filter: brightness(85%);
}

.My-dropdown-toggle {
    border: none;
    background-color: var(--ncp-secondary);
    color: white;
    margin: 0 20px;
  }
  
  .My-dropdown-menu {
    border: none;
    background-color: var(--ncp-secondary);
  }

  .nav-link {
    color: white;
    margin: 0 20px;
  }