@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

#projectbanner {

    background-color: var(--ncp-secondary);

    .project-img {

        @include media-breakpoint-down(md) {
            justify-content: center !important;
            align-items: center !important;
        }
    }

    .projectimg {
        margin-right: 40px;

        @include media-breakpoint-down(md) {
            margin-right: 0;
        }
    }

    .project-content {
        width: 680px;
    }

    .title {
        color: var(--ncp-white);
        font-size: 48px;
    }

    .content {
        color: var(--ncp-white);
        font-size: 20px;
    }

    .project-padding {
        padding: 60px;
        justify-content: center;
        align-items: center;
    }
}