@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

#projectintro {

    background-color: var(--ncp-bg-1);
    position: relative;

    .content {
        margin: auto;
        width: 1280px;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    .intro-content {
        margin: auto;
        width: 1280px;
        padding: 12px 40px;

        @include media-breakpoint-down(md) {
            width: 100%;
            flex-wrap:wrap;
        }
    }

    .title {
        font-size: 36px;
        padding-top: 60px;
        margin: 0;

        @include media-breakpoint-down(md) {
            font-size: 24px;
        }
    }

    .hr {
        border: 1px solid var(--ncp-black-1);
        margin: 24px 0;
    }

    .intro {
        margin: auto;
        width: 1280px;
        padding: 24px 40px;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    .intro-btn {
        margin-top: 40px;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid var(--ncp-black-1);
        color: var(--ncp-black-1);
        text-align: center;
        padding: 12px;
        border-radius: 10px;
        margin: 0 12px;
        width: 30%;

        @include media-breakpoint-down(md) {
            padding: 6px 12px;
        }

        &:hover {
            background-color: var(--ncp-secondary);
            color: var(--ncp-white);
        }

        &.selected {
            background-color: var(--ncp-secondary);
            color: var(--ncp-white);
        }
    }

    .introimg {
        margin-right: 80px;
    }

    .intro-img {
        border-radius: 10px; 
      
        @include media-breakpoint-down(md) {
          width: 326px;
          height: 200px;
        }
      }

    .introtitle {
        font-size: 32px;
        margin-top: 12px;
    }

    .intro-title {
        font-size: 20px;
        color: var(--ncp-gray-3);
        margin: 24px 0;
    }

    .introcontent {
        font-size: 16px;
    }
}