.NavBar{
    background-color: var(--ncp-blue);
}

.btn{
    color: white;
    background-color: var(--ncp-yellow);
    font-size: 12px;

    &:hover {
        background-color:var(--ncp-yellow);
        color: white;
    }
    
    &:active {
        background-color: var(--ncp-yellow) !important;
        color: white !important; 
        filter: brightness(85%);
    }
}

.dropdown-menu {
    background-color: var(--ncp-blue);
}

.dropdown-menu .dropdown-item:hover {
    background-color: (var(--ncp-blue)); 
    filter: brightness(85%);
}