@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

footer {
  background-color: var(--ncp-secondary);
   
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 1rem;
}

.footer-logo {
  width: 100px;
  height: 100px;
}

.footer-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  text-align: center;

  &:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }

  &:active {
    background-color: transparent !important;
    color: white !important;
    filter: brightness(85%);
    border: 1px solid white !important;
  }
}

.footer-container {
  max-width: 100%;
  padding-left: 170px;
  padding-right: 170px;
  @include media-breakpoint-down(md) {
    padding-left: 10px;
    padding-right: 10px;
}
}

.footer-col{
  margin-bottom: 5px;
}

.footer-paragraph {
  @include media-breakpoint-down(md) {
  padding: 0 50px 0 30px;
  }
}