@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

#pagenotfound {

    position: relative;

    .pnfimg {
        object-fit: cover;
        height: 100vh;
    }
    
    .my-btn {
        color: white;
        background-color: var(--ncp-highlight);
        font-size: 16px;
        box-shadow:0px 15px 35px rgba(0, 0, 0, 0.2);


        &:hover {
            background-color: var(--ncp-highlight);
            color: white;
        }

        &:active {
            background-color: var(--ncp-highlight) !important;
            color: white !important;
            filter: brightness(85%);
        }
    }    

    .pnf {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 520px;
        padding: 0 20px;

        @include media-breakpoint-down(md) {
            width: 390px;
        }
    }

    .pnf-content {
        justify-content: center;
        align-items: center;
        width: 480px;
        text-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);

        @include media-breakpoint-down(md) {
            width: 350px;
        }
    }

    .pnf-title {
        font-size: 64px;
        font-weight: 800;

        @include media-breakpoint-down(md) {
            font-size: 32px;
        }
    }

    .pnf-p {
        font-size: 20px;
        text-align: center;

        @include media-breakpoint-down(md) {
            font-size: 14px;
        }
    }
    
}  