:root {
    --ncp-secondary: #00656B;
    --ncp-primary-1: #14949C;
    --ncp-highlight: #FFA424;
    --ncp-bg-1: #FBFAF7;
    --ncp-bg-2: #E2EFF1;
    --ncp-bg-3: #F2F8F8;
    --ncp-bg-4: #F2FEFD;
    --ncp-state-info: #A3CCC9;
    --ncp-state-primary: #39D865;
    --ncp-state-warning: #FABE23;
    --ncp-state-error: #EE4447;
    --ncp-black-1: #121110;
    --ncp-gray-1: #292827;
    --ncp-gray-2: #474645;
    --ncp-gray-3: #7B7B7A;
    --ncp-gray-4: #B2B1B1;
    --ncp-gray-5: #E0E0E0;
    --ncp-gray-6: #F0F0F0;
    --ncp-white: #FFFFFF;
}